---
title: 8000038 GDPR 子帐户验证
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: e2864efcfb493b6e46b662b746661a61232bdba7
ms.translationtype: MT
ms.contentlocale: zh-CN
ms.lasthandoff: 01/24/2019
ms.locfileid: "29459681"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>显示在您的 Microsoft 帐户出生日期不正确

Microsoft 非常严重所需帐户的安全。可能有最近已提示您提供家长同意子元素的 Microsoft 帐户。如果您需要提供家长同意或更新 Microsoft 帐户上出生日期的帮助，请参阅[家长同意的年龄验证](https://go.microsoft.com/fwlink/p/?linkid=874364)。
  
了解有关[家长同意和 Microsoft 子帐户](https://go.microsoft.com/fwlink/p/?linkid=874365)。
  

