---
title: EDU 验证
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 309575a86155d416d587ee034fb7efe2c807e3f3
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: HT
ms.contentlocale: zh-CN
ms.lasthandoff: 09/14/2020
ms.locfileid: "47710329"
---
# <a name="edu-verification"></a><span data-ttu-id="cb644-102">EDU 验证</span><span class="sxs-lookup"><span data-stu-id="cb644-102">EDU verification</span></span>

<span data-ttu-id="cb644-103">大多数情况下，学术资格请求将在 24-48 小时内得到处理。</span><span class="sxs-lookup"><span data-stu-id="cb644-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="cb644-104">有些请求可能需要进行更彻底的审查，并且可能需要长达 10 个工作日才能得到处理。</span><span class="sxs-lookup"><span data-stu-id="cb644-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="cb644-105">完成后，我们将发送一封电子邮件，说明你学校的资格状态。</span><span class="sxs-lookup"><span data-stu-id="cb644-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="cb644-106">**重要提示** 如果你在进入域之前退出了验证向导，则可在免费试用期间的任何时间[恢复学术验证向导](https://go.microsoft.com/fwlink/p/?linkid=2135255)。</span><span class="sxs-lookup"><span data-stu-id="cb644-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="cb644-107">如果你想要检查你的域的状态，请转到 [Microsoft 365 管理中心](https://go.microsoft.com/fwlink/p/?linkid=2024339)。</span><span class="sxs-lookup"><span data-stu-id="cb644-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="cb644-108">在主页上，滚动到底部并找到“**帐单**”卡。</span><span class="sxs-lookup"><span data-stu-id="cb644-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="cb644-109">“**帐单**”卡指示验证过程的状态（已批准、待定、已拒绝或添加你的域）。</span><span class="sxs-lookup"><span data-stu-id="cb644-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="cb644-110">如果你的请求被拒绝，请参阅[我的学校没有资格。现在该怎么办？](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="cb644-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>