---
title: EDU 验证
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: HT
ms.contentlocale: zh-CN
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205257"
---
# <a name="edu-verification"></a>EDU 验证

大多数情况下，学术资格请求将在 24-48 小时内得到处理。 有些请求可能需要进行更彻底的审查，并且可能需要长达 10 个工作日才能得到处理。 完成后，我们将发送一封电子邮件，说明你学校的资格状态。

**重要提示** 如果你在进入域之前退出了验证向导，则可在免费试用期间的任何时间[恢复学术验证向导](https://go.microsoft.com/fwlink/p/?linkid=2135255)。

如果你想要检查你的域的状态，请转到 [Microsoft 365 管理中心](https://go.microsoft.com/fwlink/p/?linkid=2024339)。 在主页上，滚动到底部并找到“**帐单**”卡。 “**帐单**”卡指示验证过程的状态（已批准、待定、已拒绝或添加你的域）。

如果你的请求被拒绝，请参阅[我的学校没有资格。现在该怎么办？](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)