---
title: 8000038 GDPR 子帐户验证
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 035004602a439335380ec72ea65fd1bd70ebbf0d
ms.sourcegitcommit: 5fb7a4b28859690020efdea630d03e70cc0e6334
ms.translationtype: MT
ms.contentlocale: zh-CN
ms.lasthandoff: 06/28/2019
ms.locfileid: "35387047"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>你的 Microsoft 帐户中显示的出生日期不正确

Microsoft 会认真对待帐户安全性。 最近可能会提示你为儿童的 Microsoft 帐户提供家长许可。 如果你需要提供家长同意或更新 Microsoft 帐户上的出生日期的帮助, 请参阅[适用于家长同意的期限验证](https://go.microsoft.com/fwlink/p/?linkid=874364)。
  
了解有关[家长同意和 Microsoft 子女帐户](https://go.microsoft.com/fwlink/p/?linkid=874365)的详细信息。
  