---
title: 8000038 GDPR 子帐户验证
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: zh-CN
ms.lasthandoff: 08/05/2021
ms.locfileid: "54056984"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Microsoft 帐户中显示出生日期不正确

Microsoft 非常重视安全性。 你最近可能提示你为子帐户提供家长同意。 如果需要在 Microsoft 帐户上提供家长同意或更新出生日期的帮助，请参阅年龄验证 [获得家长同意](https://go.microsoft.com/fwlink/p/?linkid=874364)。
  
了解有关家长同意 [和 Microsoft 子帐户的更多信息](https://go.microsoft.com/fwlink/p/?linkid=874365)。
  