---
title: 8000038 GDPR 子帐户验证
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: zh-CN
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707953"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>你的 Microsoft 帐户中显示的出生日期不正确

Microsoft 会认真对待帐户安全性。 最近可能会提示你为儿童的 Microsoft 帐户提供家长许可。 如果你需要提供家长同意或更新 Microsoft 帐户上的出生日期的帮助，请参阅 [适用于家长同意的期限验证](https://go.microsoft.com/fwlink/p/?linkid=874364)。
  
了解有关 [家长同意和 Microsoft 子女帐户](https://go.microsoft.com/fwlink/p/?linkid=874365)的详细信息。
  