---
title: 发布服务器验证疑难解答
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: HT
ms.contentlocale: zh-CN
ms.lasthandoff: 01/15/2021
ms.locfileid: "49875342"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="060b3-102">与开发人员的发布服务器验证相关的问题</span><span class="sxs-lookup"><span data-stu-id="060b3-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="060b3-103">**建议的步骤**</span><span class="sxs-lookup"><span data-stu-id="060b3-103">**Recommended steps**</span></span> 

<span data-ttu-id="060b3-104">要解决与发布服务器验证相关的问题，请执行以下步骤：</span><span class="sxs-lookup"><span data-stu-id="060b3-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="060b3-105">审查先决条件和其他要求，确保它们都得到满足。</span><span class="sxs-lookup"><span data-stu-id="060b3-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="060b3-106">查看说明以[将应用程序标记为发布服务器已验证](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified)，并确保所有步骤都已成功执行。</span><span class="sxs-lookup"><span data-stu-id="060b3-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="060b3-107">查看[常见问题](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues)列表，如有该列表中的问题，请按照建议的步骤进行操作。</span><span class="sxs-lookup"><span data-stu-id="060b3-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="060b3-108">使用 [Graph 浏览器](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) 重新生成请求以收集其他信息并排除 UI 中的任何问题。</span><span class="sxs-lookup"><span data-stu-id="060b3-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="060b3-109">**推荐文档**</span><span class="sxs-lookup"><span data-stu-id="060b3-109">**Recommended documents**</span></span>

- [<span data-ttu-id="060b3-110">发布服务器验证 - 概述</span><span class="sxs-lookup"><span data-stu-id="060b3-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="060b3-111">将你的应用程序标记为发布服务器已验证</span><span class="sxs-lookup"><span data-stu-id="060b3-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="060b3-112">发布服务器验证疑难解答</span><span class="sxs-lookup"><span data-stu-id="060b3-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

