---
title: 发布服务器验证疑难解答
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: eb406eef2ac4e1bcebffcca91ec8706ac3c7a7f1b4c58a5da3a4e386b55700fb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: HT
ms.contentlocale: zh-CN
ms.lasthandoff: 08/05/2021
ms.locfileid: "54007961"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>与开发人员的发布服务器验证相关的问题

**建议的步骤** 

要解决与发布服务器验证相关的问题，请执行以下步骤：

1. 审查先决条件和其他要求，确保它们都得到满足。
2. 查看说明以[将应用程序标记为发布服务器已验证](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified)，并确保所有步骤都已成功执行。
3. 查看[常见问题](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues)列表，如有该列表中的问题，请按照建议的步骤进行操作。
4. 使用 [Graph 浏览器](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) 重新生成请求以收集其他信息并排除 UI 中的任何问题。

**推荐文档**

- [发布服务器验证 - 概述](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [将你的应用程序标记为发布服务器已验证](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [发布服务器验证疑难解答](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

